---
import Links from '../components/Links.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Seguridad y Alta Disponibilidad</h1>
  <Links link='/resumen' />
</Layout>
<style>
  h1 {
    width: 100%;
    text-align: center;
  }
</style>
